
@for $i from 5 through 1000 {
    .h-#{$i}px {
        height: #{$i}px !important;
    }
    .w-#{$i}px {
        width: #{$i}px !important;
    }
}

@for $i from 20 through 100 {
    .p-#{$i} {
        padding: $i * 0.25rem !important;
    }

    .pt-#{$i} {
        padding-top: $i * 0.25rem !important;
    }

    .pb-#{$i} {
        padding-bottom: $i * 0.25rem !important;
    }

    .pe-#{$i} {
        padding-right: $i * 0.25rem !important;
    }

    .ps-#{$i} {
        padding-left: $i * 0.25rem !important;
    }

    .py-#{$i} {
        padding-top: $i * 0.25rem !important;
        padding-bottom: $i * 0.25rem !important;
    }

    .px-#{$i} {
        padding-left: $i * 0.25rem !important;
        padding-right: $i * 0.25rem !important;
    }
}
